/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #774c60;
}

html {
  scroll-behavior: smooth;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESTOP NAV */

.desktop-nav {
  display: flex;
  padding: 15px 15px;
  margin: 20px 20px;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  padding: 15px 20px;
  justify-content: flex-end;
}

.nav-links li a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s;
  margin-top: 10px;
  text-align: center;
}

.nav-links li a:hover {
  color: goldenrod;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: goldenrod;
}

/* ABOUT SECTION */

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.about-section-header {
  display: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  padding: 20px;
}

.about-section-header h1 {
  font-size: 65px;
  color: gold;
  margin-bottom: 20px;
}

.about-section-header h3 {
  font-size: 18px;
  color: #f4f1de;
  letter-spacing: 1px;
}

.profile-section img {
  max-width: 200px;
  height: auto;
  float: inline-end;
  transition: transform 0.3s;
  object-fit: cover;
}

.profile-section {
  width: 30%;
  height: auto;
  right: 100px;
  bottom: 0;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px;
}

.resume-btn,
.contact-btn {
  background-color:#f4f1de;
  border: 2px solid black;
  color: black;
  font-style: bold;
}

.resume-btn:hover,
.contact-btn:hover {
  background-color: plum;
}

.about-section-info {
  padding: 60px 40px;
  margin-top: 20px;
  color: white;
  text-align: left;
  justify-content: center;
}

/* Experience Section */
.experience {
  padding: 60px 40px;
}

.experience p {
  color: black;
}

.experience h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
  color: white;
}

.experience h2 {
  font-size: 20px;
  font-style: bold;
  color: #7e9181;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.experience-card {
  background: #efe6dd;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.experience-card:hover {
  transform: scale(1.05);
}

/* Technical Skills Section */
.technical-experience {
  margin-top: 10px;
  padding: 30px 40px;
}

.technical-experience h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-style: bold;
  color: white;
}

.technical-experience ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.technical-experience li {
  background-color: grey;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

/* Project Section */
.projects {
  padding: 60px 40px;
}
.projects h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
  color: white;
}
.projects h2 {
  font-size: 20px;
  font-style: bold;
  color: #7e9181;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projects-card p {
  color: black;
}
.projects-card {
  background: #efe6dd;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
.projects-card:hover {
  transform: scale(1.05);
}

/* Contact Section */
.contact {
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 20px;
  font-size: 35px;
  color: white;
}

.email-button,
.linkedin-button,
.github-button {
  background-color:#f4f1de;
  border: 2px solid black;
  color: black;
  font-style: bold;
}

.email-button:hover,
.linkedin-button:hover,
.github-button:hover {
  background-color: plum;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  color: #c9d1d9;
  margin-top: 20px;
}
